* {
  box-sizing: border-box;
}
.login-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    img {
      margin-bottom: 20px;
      width: 105px; /* 이미지의 너비를 50px로 설정 */
      height: 100px; /* 높이는 자동으로 설정 */
    }
    h1 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
    }
    h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
      color: #000;
    }
    .input-box {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      label {
        padding: 10px;
        width: 100%;
        text-align: left;
        font-weight: bold;
      }
      input {
        flex: 1;
        padding: 5px;
        font-size: 16px;
        border: none;

        transition: border-color 0.2s ease-in-out;
        &::placeholder {
          color: #b0b0b0;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .button-container {
      display: flex;
      button {
        padding: 10px 20px;
        margin: 30px;
        font-size: 16px;
        color: #fff;
        background-color: #18415c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #000000;
        }
      }
    }
  }
}
