li {
  list-style: none;
  margin: 0.5em 0;
  background-color: #5f85bb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1.2em 1.5em;
  width: 85%;
  height: 20px;
  left: 0;
  margin-left: 1px;

  svg {
    color: #ffffff;
    &:first-child {
      font-size: 1.2em;
    }
  }

  p {
    flex: 1;
    font-size: 1.1rem;
    margin-left: 1.1em;
  }

  .actions {
    justify-self: flex-end;
    cursor: pointer;

    .fa-spinner {
      font-size: 1.2em;
    }
  }
}
