.submit button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid grayscale($color: #333);
  color: grayscale($color: #333);
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: grayscale($color: #333);
    color: grayscale($color: #ffffff);
  }
}
